h1 {
    font-size: large;
    color: blue;
    text-align: center;
    border-bottom: 2px solid #DDD;
}

#main {
    background-color: #f8f9fa;
    height: 100%;
    padding: 1em
}

a {
    text-decoration: none;
    color: #55aaff;
}

a:hover {
    color: #55aaee;
    text-decoration: underline;
}

p {
    text-indent: 2em;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #DDD;
}

@media screen and (min-width: 800px) {
    #main {
        margin: 0 10em;
    }
}
