h1 {
    font-size: large;
    color: blue;
    text-align: center;
}

#main {
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: #55aaff;
}

a:hover {
    color: #55aaee;
    text-decoration: underline;
}


